@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;}
body{font-size:12px;font-family:"宋体", Arial, Helvetica, sans-serif;}
ul{list-style:none;}
img{border:0;  padding:0; margin:0; }
a{text-decoration:none; color:#000;}
 
.clear{clear:both;height:0;font-size: 1px;line-height: 0px;}
.floleft{float:left;}
.floright{float:right;}
input{font-family:"微软雅黑";}
 


/*one中间的最上面一部分*/
strong{ color:#bf0000; letter-spacing:2px;}
/*#one h3{ color:#102f6f;}*/
a:hover{ color:#be0101;}
#one{ width:1188px; height:303px; margin-top:18px;}
h3{font-size:14px;}
/*one_left*/
#one .one_left{ width:370px; overflow:hidden; height:301px; background: url(../images/cityzixun/one_left_bj.gif) no-repeat;}
#one .one_left h3{ font-size:14px; color:#102f6f;   margin-left:33px; padding-top:6px;}
#one .one_left  li{height:30px; width:320px;  overflow:hidden;}
#one .one_left ul{ margin-top:2px; display:inherit;}
#one .one_left .more{ width:80px; height:20px; position:absolute; top:185px; left:400px;  }
#one .one_left .more a{ color:#C00;}
#one .one_left a{ line-height:30px; margin-left:10px;}

/*one_middle*/
#one .one_middle{ width:511px; height:303px; margin-left:15px;}
.lanrenzhijiaArea {background:#fff url(../images/cityzixun/loading.gif) center no-repeat;width:508px;height:301px;position:relative;-webkit-box-shadow:0 10px 25px #ccc;
	-moz-box-shadow:0 10px 25px #ccc;box-shadow:0 4px 4px #ccc;margin:0 0 20px;margin:0 auto;}
.lanrenzhijiaArea .bgGray, #indexFocus ul.indexFocusList li p, .litImgList li p {background:url(../images/cityzixun/bgFocus.png) no-repeat;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src='../images/cityzixun/bgFocus.png');_background:none;}
#indexFocus .ui-ifPrevBtn {background:url(../images/cityzixun/arrLeftFocus.png) no-repeat;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src='../images/arrLeftFocus.png');	_background:none;float:left;}
#indexFocus .ui-ifNextBtn {background:url(../images/cityzixun/arrRigFocus.png) no-repeat;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src='../images/arrRigFocus.png');_background:none;float:right;}
#indexFocus, #indexFocus .ui-ifPrevWrap .ui-prevImg, #indexFocus .ui-ifNextWrap .ui-nextImg {display:none;cursor:pointer;}
#indexFocus .ui-ifPrevWrap, #indexFocus .ui-ifNextWrap {position:absolute;z-index:99;bottom:80px;background:rgba(0, 0, 0, 0.5) none repeat scroll 0 0!important;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#64000000, endColorstr=#64000000);
width:34px;height:56px;overflow:hidden;padding:7px 0;}
#indexFocus .ui-ifPrevBtn, #indexFocus .ui-ifNextBtn {display:inline-block;width:34px;height:56px;text-indent:-1000px;	overflow:hidden;}
#indexFocus .cur {background:rgba(0, 0, 0, 0.8) none repeat scroll 0 0!important; filter:progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#64000000, endColorstr=#64000000);width:140px;}
#indexFocus .cur .ui-prevImg, #indexFocus .cur .ui-nextImg {display:inline-block;width:100px;height:56px;}
#indexFocus .cur .ui-prevImg {float:left;}
#indexFocus .cur .ui-nextImg {	float:right;}
#indexFocus .indexFocusCon {width:508px;height:301px;overflow:hidden;position:relative;z-index:0;}
#indexFocus ul.indexFocusList li {width:508px;height:301px;position:relative;z-index:0;}
#indexFocus ul.indexFocusList li p {position:absolute;left:0;bottom:0;display:block;width:100%;height:60px;line-height:60px;color:#fff;text-indent:20px;font-family:Microsoft YaHei, SimHei;font-size:16px; font-weight:bold;}
#indexFocus ul.indexFocusList li #indexFocus p {position:absolute;bottom:30px;color:#fff;width:100%;height:40px;line-height:40px;font-size:16px;text-indent:20px;}
#indexFocus .indexFocusNum {position:absolute;z-index:99;right:10px;	bottom:10px;}
#indexFocus .indexFocusNum a {float:left;display:inline-block;width:10px;height:10px;background:#eee;text-indent:-100px;overflow:hidden;margin:0 5px;}
.lanrenzhijiaArea img {width:508px;height:301px;}
.lanrenzhijiaArea .bgGray {display:block;width:508px;height:60px;position:absolute;left:0;bottom:0;}
#indexFocus .ui-ifPrevWrap, .litImgList .ui-ifPrevWrap {left:0;}
#indexFocus .ui-ifNextWrap, .litImgList .ui-ifNextWrap {right:0;}
#indexFocus ul.indexFocusList, .litImgList ul.indexFocusList {position:absolute;z-index:0;left:0;top:0;}
#indexFocus .indexFocusNum .hover, .litImgList .indexFocusNum .hover {background:#4c99e8;}

/*one_right*/
#one .one_right{
	width: 275px;
	height: 303px;
	margin-left:15px;
	float:left;
}
#one .one_right .r_box{ height:205px; border: solid #CCC 1px; width:285px; overflow:hidden; }
#one .one_right .r_box{height:205px;width:275px;    }
#one .one_right a{ line-height:30px;  margin-right:5px;}
#one .one_right img{ width:276px; height:90px;   margin-top:5px;}
.r_box  p{ height:28px;  line-height:28px; margin-bottom:10px; }
.r_box p a{float:right; width:130px; text-align:center; font-size:16px; color:#000; height:28px; display:block;  color:#000; }
.r_box p a:hover{ color:#F00;}
.r_box li{line-height:26px; padding-left:10px; overflow:hidden;height:29px; width:250px;  overflow:hidden;}
.r_box ul{ margin-top:-8px;}
/*two*/
#two{ width:1188px; height:471px; position:relative; margin-top:18px;  }
#two .on_nav{ position:absolute; top:7px; left:430px; }
#two .on_nav a{ margin-left:8px; margin-right:8px;}
#two .two_left{ width:898px; height:367px; background:url(../images/cityzixun/two_left_bj.gif) no-repeat;}
#two .two_left h3{color:#102f6f;   margin-left:25px; padding-top:6px}
#two .two_left_dress{ width:407px; height:315px; margin-top:13px; margin-left:16px;  }
#two .two_left_dress img{ margin-top:7px; width:143px; height:144px;}
#two .two_left_dress  .fuzhuang{ font-size:14px; color:#1d5692; }
#two .two_left_dress h3{ color:#102f6f;   margin-left:33px; padding-top:6px;}
#two .two_left_dress .more1{ width:45px; height:20px;  color:#F00; margin-top:-15px; margin-left:360px;}
#two .two_left_dress .more1 a{ color:#F00;} 
#two .two_left_dress .biye{ position:absolute; top:70px; left:180px; width:225px; overflow:hidden; height:21px;  font-size:16px;  }
#two .two_left_dress  .wen{
	position: absolute;
	top: 102px;
	left: 183px;
	width: 195px;
	height: 110px;
	line-height: 26px;
	text-indent: 20px;
	overflow: hidden;
}
#two .two_left_dress  .wen span{ color:#F00; margin-left:20px;}
#two .two_left_dress  .wen a:hover span{ color:#00F;}
#two .two_left_dress .wn{  overflow:hidden; margin-top:-15px;}
#two .two_left_dress .wn dt{width:335px; height:26px; line-height:26px; float:left; padding-left:10px; overflow:hidden;}
#two .two_left_dress .wn dd{float:right;font-size:12px; color:#666; height:26px; padding-top:2px;}

#two .two_left_dress1{  position:absolute; width:407px; height:315px;  top:40px; right:300px;    }
#two .two_left_dress1 img{ margin-top:7px;width:143px; height:144px;}
#two .two_left_dress1 .fuzhuang{ font-size:14px; color:#1d5692; }
#two .two_left_dress1 h3{ color:#102f6f;   margin-left:33px; padding-top:6px;}
#two .two_left_dress1 .more1{ width:45px; height:20px;  color:#F00; margin-top:-15px; margin-left:360px;}
#two .two_left_dress1 .more1 a{ color:#F00;} 
#two .two_left_dress1 .biye{ width:225px; overflow:hidden; height:21px;  display:block; position:absolute; top:30px; left:160px; font-size:16px; overflow:hidden; width:180px;}
#two .two_left_dress1 .wen{position:absolute; top:60px;left:160px; width:195px; height:110px; line-height:26px; text-indent:20px; overflow:hidden;  }
#two .two_left_dress1  .wen a:hover span{ color:#00F;}
#two .two_left_dress1 .wen span{ color:#F00; margin-left:20px;}
#two .two_left_dress1 .wn{   margin-top:10px;overflow:hidden;}
#two .two_left_dress1 .wn dt{width:335px; height:26px; line-height:26px; float:left; padding-left:10px; overflow:hidden;}
#two .two_left_dress1 .wn dd{float:right;font-size:12px; color:#666; height:26px; padding-top:2px;}
#two .adimg{ margin-top:10px; width:898px; height:90px;}
/*two_right*/
.two_right{ width:272px; height:470px; position:absolute; border:solid #CCC 1px; top:0px; right:0px;}
.two_right .project{ width:272px; height:229px; background:url(../images/cityzixun/two_right_bj.gif) no-repeat;}
.two_right .project h3{ padding-top:5px; text-align:center; color:#102f6f; }
.two_right .project img{ margin-top:5px; width:268px; height:151px;} 
.two_right .project p  { text-indent:20px; width:264px; height:45px; line-height:22px;  padding-left:5px; background:#ececec; overflow:hidden; }
.two_right  .review{width:269px; height:232px;   margin-top:5px;}
.two_right .review h3{ padding-top:5px; margin-left:15px; color:#102f6f; }
.two_right  .review ul{ line-height:30px; margin-top:14px; margin-left:15px;}
.two_right  .review  li{height:30px; width:275px;  overflow:hidden;}


.scrollbox{width:269px; height:160px;  }
#scrollDiv{width:269px; height:150px; overflow:hidden; margin-top:5px;  }/*这里的高度和超出隐藏是必须的*/
#scrollDiv  ul{margin-top:-3px;}
#scrollDiv li{height:25px; width:230px;line-height:25px; vertical-align:bottom; zoom:1; border-bottom:#CCC dashed 1px; overflow:hidden; background:url(../images/cityzixun/dian.gif) left center no-repeat; text-indent:10px;}
#scrollDiv li a{ color:#333; text-decoration:none;}
#scrollDiv li a:hover{ color:#FF0000; text-decoration:underline;}
.scroltit{ height:10px; width:245px; margin-left:13px;   padding-bottom:4px; margin-bottom:4px; margin-top:10px;}
.scroltit h3{ width:100px; float:left;}
.scroltit small{float:right; font-size:13px;}
 
/*third*/
#third{ height:320px; width:1188px; position:relative; margin-top:18px;}
#third  h3{ color:#102f6f;   margin-left:23px; padding-top:6px;}
#third  .more{ margin-left:300px; margin-top:-25px;}
#third  .more a{ color:#C00;}
#third  a{ line-height:30px; margin-left:10px;}

#third .third_left{height:320px; width:382px; background:url(../images/cityzixun/third_bj.gif) no-repeat;}
#third .third_left .img1{ position:absolute; top:40px; left:17px; width:164px; height:95px;}
#third .third_left .img2{position:absolute; top:40px; left:201px;width:164px; height:95px;}
#third .third_left .third_wen{margin-top:107px; margin-left:10px;}
#third .third_left .third_wen dt{width:245px; height:28px; line-height:28px; float:left;   overflow:hidden;}
#third .third_left .third_wen dd{float:right;font-size:12px; padding-top:8px; color:#666;   margin-right:20px;}

#third .third_middle{ position:absolute; top:0px; left:403px;height:320px; width:382px; background:url(../images/cityzixun/third_bj.gif) no-repeat;}
#third .third_middle .img1{width:164px; height:95px; position:absolute; top:214px; left:17px;}
#third .third_middle .img2{width:164px; height:95px;position:absolute; top:214px; left:201px;}
#third .third_middle .third_wen{  margin-left:10px;}
#third .third_middle .third_wen dt{width:245px; height:28px; line-height:28px; float:left;   overflow:hidden;}
#third .third_middle .third_wen dd{float:right;font-size:12px; color:#666;    padding-top:8px; margin-right:20px;}

#third .third_right{position:absolute; top:0px; right:0px;;height:320px; width:382px; background:url(../images/cityzixun/third_bj.gif) no-repeat;}
#third .third_right .img1{width:164px; height:95px; position:absolute; top:40px; left:17px;}
#third .third_right .img2{width:164px; height:95px;position:absolute; top:40px; left:201px;}
#third .third_right  .third_wen{margin-top:107px; margin-left:10px;}
#third .third_right  .third_wen dt{width:245px; height:28px; line-height:28px; float:left;   overflow:hidden;}
#third .third_right  .third_wen dd{float:right;font-size:12px; color:#666;  padding-top:8px;  margin-right:20px;}
 
/*fourth*/
h3{ font-size:14px;}
#fourth{ width:1180px; height:290px; position:relative; margin-top:18px; }
#fourth .img{ height:282px; width:189px; }
#fourth  h3{ color:#102f6f;   margin-left:15px; padding-top:6px;}
#fourth  .more a{ color:#C00;}

#fourth .fourth_left{  position:absolute; width:278px; height:280px; top:0px; left:200px; background:url(../images/cityzixun/fourth_left.gif) no-repeat;}
#fourth .fourth_left .more{ position:absolute; top:5px; left:225px; }
#fourth .fourth_left img{height:80px; width:100px; margin-left:14px; margin-top:21px;}
#fourth .fourth_left span{display:block;width:155px; margin-left:120px; font-size:14px; font-weight:bold; margin-top:-86px; text-align:center; height:18px; overflow:hidden;}
#fourth .fourth_left .article{ margin-left:130px; width:134px; height:64px; text-indent:22px; line-height:23px; overflow:hidden;}
#fourth .fourth_left p{ margin-top:2px;  }
#fourth .fourth_left .text{ display:block; margin-left:10px;padding-top:14px;width:248px; height:120px;line-height:28px;}
#fourth .fourth_left .test ul{list-style:none;}
#fourth .fourth_left .text li{ display:block;height:28px; width:240px;  overflow:hidden;background:url(../images/cityzixun/dian.gif)  5px 12px no-repeat; text-indent:15px; }

#fourth .fourth_middle{ position:absolute; width:414px; height:280px; top:0px; left:487px; background:url(../images/cityzixun/fourth_middle.gif) no-repeat;}
#fourth .fourth_middle .more{position:absolute; top:5px; left:360px;}
#fourth .fourth_middle img{ margin-left:14px; margin-top:21px;height:80px; width:100px;}
#fourth .fourth_middle  .biaoti{display:block;width:280px; height:18px; overflow:hidden; margin-left:120px; font-size:14px; font-weight:bold; margin-top:-84px; text-align:center;}
#fourth .fourth_middle .article{ margin-left:130px; width:269px; height:64px; text-indent:22px; line-height:23px;overflow:hidden;}
#fourth .fourth_middle p{ margin-top:2px;  }
#fourth .fourth_middle .text{ display:block; margin-left:10px;padding-top:12px;width:378px; height:120px; }
#fourth .fourth_middle .text dt{ display:block; width:245px; height:28px; line-height:28px; float:left;   overflow:hidden;background:url(../images/cityzixun/dian.gif)  5px 12px no-repeat; text-indent:15px;}
#fourth .fourth_middle .text dd{float:right;font-size:12px; color:#666; padding-top:    margin-right:10px;}
 

#fourth .fourth_right{  position:absolute;width:278px; height:280px; top:0px; left:910px; background:url(../images/cityzixun/fourth_right.gif) no-repeat;}
#fourth .fourth_right .more{position:absolute; top:5px; right:10px; }
#fourth .fourth_right img{ margin-left:14px; margin-top:21px;height:80px; width:100px;}
#fourth .fourth_right span{ display:block;width:155px; height:20px; overflow:hidden;   margin-left:120px; font-size:14px; font-weight:bold; margin-top:-84px; text-align:center;}
#fourth .fourth_right .article{ margin-left:130px; width:134px; height:64px; text-indent:22px; line-height:23px;overflow:hidden;}
#fourth .fourth_right p{ margin-top:2px;  }
#fourth .fourth_right .text{ display:block; margin-left:10px;padding-top:10px;width:248px; height:140px;line-height:28px;}
#fourth .fourth_right .text a{ display:block;  width:244px;   background:url(../images/cityzixun/dian.gif) 5px 12px  no-repeat ; }
#fourth .fourth_right .text li{height:28px;  line-height:28px; width:240px;   overflow:hidden; text-indent:15px; }
